/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* CSS Design System */
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

:root {
  --clr-dark-grey: hsl(187deg, 24%, 22%);
  --clr-light-grey: hsl(186deg, 15%, 59%);
  --clr-dark-green: hsl(169deg, 82%, 27%);
  --clr-light-green: hsl(148deg, 38%, 91%);
  --clr-error: hsl(0deg, 66%, 54%);

  --spacing-50: 0.5rem;
  --spacing-75: 0.75rem;
  --spacing-100: 1rem;
  --spacing-150: 1.5rem;
  --spacing-200: 2rem;
  --spacing-250: 2.5rem;
  --spacing-800: 8rem;

  --lh-bigger: 150%;
}

/* CSS Styling*/
body {
  background-color: var(--clr-light-green);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Karla", sans-serif;
  line-height: var(--lh-bigger);
  color: var(--clr-dark-grey);
}

main {
  background-color: white;
  padding: var(--spacing-250);
  border-radius: var(--spacing-100);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-150);
}

input:not([type="radio"], [type="checkbox"]) {
  width: 100%;
}

textarea,
input:is([type="text"], [type="email"]),
fieldset div {
  border-radius: var(--spacing-50);
  border: 1px solid var(--clr-light-grey);
}

button {
  border-radius: var(--spacing-50);
  border: 0px;
  background-color: var(--clr-dark-green);
  color: white;
}

h1 {
  padding-bottom: var(--spacing-200);
  font-weight: bold;
  font-size: var(--spacing-200);
  letter-spacing: -1px;
  line-height: 100%;
}

span {
  color: var(--clr-dark-green);
}

div.flex label,
button {
  font-size: var(--spacing-100) + 2px;
}

.form-group {
  display: grid;
}

fieldset.form-group {
  grid-template-columns: 1fr 1fr;
}

.one-col {
  grid-column: 1 / -1;
}

.flex {
  display: flex;
  gap: 1ch;
}
