/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* CSS Design System */
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

:root {
  --clr-dark-grey: hsl(187deg, 24%, 22%);
  --clr-light-grey: hsl(186deg, 15%, 59%);
  --clr-dark-green: hsl(169deg, 82%, 27%);
  --clr-light-green: hsl(148deg, 38%, 91%);
  --clr-error: hsl(0deg, 66%, 54%);

  --spacing-50: 0.5rem;
  --spacing-75: 0.75rem;
  --spacing-100: 1rem;
  --spacing-150: 1.5rem;
  --spacing-200: 2rem;
  --spacing-250: 2.5rem;
  --spacing-800: 8rem;

  --lh-bigger: 150%;
}

/* CSS Styling*/
body {
  background-color: var(--clr-light-green);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

main {
  background-color: white;
  display: grid;
  grid-template:
    "h1"
    "first" "last"
    "email"
    "query"
    "message"
    "consent"
    "submit";
}
/* 
form {
  display: grid;
} */
